html {
    font-family: "Montserrat";
    font-size: 16px;
}
body {
    margin: 0;
}
.First-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67.6rem;
    height: 89.9rem;
}
.Background-green {
    background-color: #02A28F;
    color: #FFFFFF;
}
#Blog-title {
    width: 90rem;
    height: 3rem;
    margin: 0;
    padding: 1rem 9.7rem 1rem 10.5rem;
}
#Blog-title > h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    gap: 0.6rem;
}
.Container {
    width: 46.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 9.6rem;
    margin-right: 0.75rem;
}
#City1 {
    width: 44.25rem;
    height: 23.8rem;
    margin-left: 0;
    margin-top: 2.3rem;
    padding: 1.5rem 1.5rem 1.5rem 0.93rem;
    border-radius: 0.6rem;
    gap: 0.6rem;
}
#Post-list {
    width: 45.18rem;
    height: 55rem;
    margin: 1.5rem 1.5rem 4rem 0;
}
#Post-title {
    width: 41.4rem;
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 1.5rem 0.68rem 1rem;
    padding: 1rem 1.3rem 1rem 1.5rem;
    border-radius: 0.5rem;
}
#invisible {
    width: 5rem;
    height: 1.25rem;
    background-color: #02A28F;
    text-align: right;
    text-decoration: underline;
    font-size: 0.8rem;
    font-weight: 500;
    color: #FFFFFF;
    box-shadow: #02A28F;
    border: 0;
}
.Grid-item {
    width: 21.56rem;
    height: 25rem;
    display: block;
    border: #FFFFFF;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 0.6rem 1.25rem 0 #0000001A;    
}
.Grid-left {
    margin: 0 0.75rem 0 0;
}
.Grid-right {
    margin: 0 0 0 0.75rem;
}
#Grid-post {
    width: 44.3rem;
    height: 55.6rem;
    display: grid;
    grid-template-columns: 21.8rem 1fr;
    justify-content: space-between;
    margin-left: 1rem;
}
.Photo {
    width: 21.56rem;
    height: 11.9rem;
}
.Text-post {
    width: 20.1rem;
    height: 11.3rem;
    padding: 0.56rem 1rem 0.56rem 1rem;
    gap: 0.5rem;    
}
.Theme {
    width: 7.5rem;
    height: 1.06rem;
    font-size: 0.75rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 100%;
    color: #02A28F;
}
.Text-post > h2 {
    width: 20rem;
    height: 1.06rem;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100%;
    color: #000000;
}
.Author {
    width: 8.75rem;
    height: 0.9rem;
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 100%;
    color: #616161;
}
.Author > b {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 100%;
    color: #616161;
}
.Argument {
    width: 20.5rem;
    height: 3.8rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100%;
    color: #000000;
}
.Date {
    width: 6.75rem;
    height: 1.06rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 100%;
    color: #616161;
}
.Second-container {
    width: 25.6rem;
    height: 85.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    margin-left: 0.75rem;
}
#Grid-recents {
    width: 25.6rem;
    height: 23.9rem;
}
#Principal-posts {
    width: 20rem;
    height: 2.5rem;
    display: grid;
    justify-content:left;
    align-content: center;
    margin: 0;
    padding: 0.75rem 4rem 0.75rem 1.5rem;
    font-size: 1.25rem;
    border: #FFFFFF;
    border-radius: 0.6rem;
    box-shadow: 0 0.6rem 0.6rem 0 #0000001A;
    gap: 0.6rem;
}
#Principal {
    width: 25.6rem;
    height: 18.7rem;
    display: grid;
}
.Post {
    width: 25.6rem;
    height: 5.56rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: #FFFFFF;
    border-radius: 0.6rem;
    box-shadow: 0 0.62rem 0.62rem 0 #0000001A;
}
.Post > img {
    width: 8.1rem;
    height: 4.68rem;
    align-items: center;
    padding: 1.25rem 0.8rem 0.75rem 0.87rem;
    border-radius: 0.62rem;
}
.Text {
    text-align: left;
}
.Text > h3 {
    width: 10.7rem;
    height: 0.3rem;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;  
    color: #000000;   
}
.Text > p {
    width: 5.75rem;
    height: 0.9rem;
    margin-bottom: 2.37rem;
    padding-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    color: #616161;
}
#Categories {
    width: 25.6rem;
    height: 12.9rem;
    flex-direction: column;
    margin-top: 0.68rem;
    margin-bottom: 0.375rem;
    border-radius: 0.6rem;
    gap: 0.8rem;
}