html {
    font-family: "Montserrat";
    font-size: 16px;
}
body {
    margin: 0;
}
.First-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67.6rem;
    height: 89.9rem;
}
.Background-green {
    background-color: #02A28F;
    color: #FFFFFF;
}
#Blog-title {
    width: 90rem;
    height: 3rem;
    margin: 0;
    padding: 1rem 9.7rem 1rem 10.5rem;
}
#Blog-title > h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    gap: 0.6rem;
}
.Container {
    width: 46.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 9.6rem;
    margin-right: 0.75rem;
}
#City1 {
    width: 44.25rem;
    height: 23.8rem;
    margin-left: 0;
    margin-top: 2.3rem;
    padding: 1.5rem 1.5rem 1.5rem 0.93rem;
    border-radius: 0.6rem;
    gap: 0.6rem;
}
#Post-list {
    width: 45.18rem;
    height: 55rem;
    margin: 1.5rem 1.5rem 4rem 0;
}
#Post-title {
    width: 41.4rem;
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 1.5rem 0.68rem 1rem;
    padding: 1rem 1.3rem 1rem 1.5rem;
    border-radius: 0.5rem;

}